Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

Data Collection and Analysis

Agriculture Risk Assessment Dataset

In [2]:
# loading the diabetes dataset to a pandas DataFrame
farmer = pd.read_csv('farming.csv')

In [3]:
# printing the first 5 rows of the dataset
farmer.head()

,Region,Assets,landSize,Required,Bank Balance,Workers,Cop,Irrigation,Age,Outcome
0,1,4448,11,3000,1819,16,5,1,70,1
1,1,4622,11,3000,2162,10,3,1,49,1
2,1,3119,8,3000,1273,30,3,1,41,1
3,1,4997,7,3000,4142,37,1,1,71,1
4,1,4779,12,3000,2861,37,5,1,45,1

In [4]:
# number of rows and Columns in this dataset
farmer.shape

(880, 10)

In [5]:
# getting the statistical measures of the data
farmer.describe()

,Region,Assets,landSize,Required,Bank Balance,Workers,Cop,Irrigation,Age,Outcome
count,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000,880.000000
mean,2.613636,3630.612500,29.420455,7138.588636,8769.912500,24.977273,2.898864,0.771591,47.929545,0.532955
std,1.200415,6785.018349,32.337358,11748.909817,13702.666933,31.920649,1.391506,0.420046,15.057253,0.499197
min,1.000000,17.000000,0.000000,2.000000,4.000000,0.000000,1.000000,0.000000,23.000000,0.000000
25%,2.000000,531.000000,3.000000,908.000000,230.000000,2.000000,2.000000,1.000000,35.000000,0.000000
50%,2.000000,1483.500000,12.000000,3000.000000,1800.000000,7.500000,3.000000,1.000000,47.000000,1.000000
75%,4.000000,3766.500000,53.250000,4500.000000,12658.750000,41.000000,4.000000,1.000000,60.000000,1.000000
max,5.000000,47180.000000,120.000000,61709.000000,49989.000000,120.000000,5.000000,1.000000,75.000000,1.000000

In [6]:
farmer['Outcome'].value_counts()

1    469
0    411
Name: Outcome, dtype: int64

0 --> Risk Insurance

1 --> Non Risk

In [7]:
farmer.groupby('Outcome').mean()

,Region,Assets,landSize,Required,Bank Balance,Workers,Cop,Irrigation,Age
Outcome,,,,,,,,,
0,3.357664,517.243309,10.462287,6226.209246,321.058394,1.995134,2.895377,0.510949,47.097324
1,1.961620,6358.959488,46.034115,7938.136461,16173.918977,45.117271,2.901919,1.000000,48.658849

In [8]:
# separating the data and labels
X = farmer.drop(columns = 'Outcome', axis=1)
Y = farmer['Outcome']

In [9]:
print(X)

     Region  Assets  landSize  Required  Bank Balance  Workers  Cop  \
0         1    4448        11      3000          1819       16    5
1         1    4622        11      3000          2162       10    3
2         1    3119         8      3000          1273       30    3
3         1    4997         7      3000          4142       37    1
4         1    4779        12      3000          2861       37    5
..      ...     ...       ...       ...           ...      ...  ...
875       1    2747       102      1929          2300       17    3
876       1    2650        70      3495          2300       18    5
877       1    3067        38      3106          2300       12    3
878       1    1657        35      2277          2300        9    4
879       1    1852        89     10000          2300       12    4

     Irrigation  Age
0             1   70
1             1   49
2             1   41
3             1   71
4             1   45
..          ...  ...
875           1   53
876           1   34
877           1   70
878           1   35
879           1   33

[880 rows x 9 columns]

In [10]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
875    1
876    1
877    1
878    1
879    1
Name: Outcome, Length: 880, dtype: int64

Train Test Split

In [11]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [12]:
print(X.shape, X_train.shape, X_test.shape)

(880, 9) (704, 9) (176, 9)

Training the Model

In [13]:
classifier = svm.SVC(kernel='linear')

In [14]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [15]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [16]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [17]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [18]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  1.0

Making a Predictive System

In [19]:
input_data = (5,166,72,19,175,25.8,2,0.587,51)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is Risk')
else:
  print('The person is Non Risk')

[0]
The person is Risk

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

Saving the trained model

In [20]:
import pickle

In [21]:
filename = 'farming_model.sav'
pickle.dump(classifier, open(filename, 'wb'))

In [22]:
# loading the saved model
loaded_model = pickle.load(open('farming_model.sav', 'rb'))

In [23]:
input_data = (5,166,72,19,175,25.8,3,0.587,51)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = loaded_model.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person is Risk')
else:
  print('The person is Non Risk')

[0]
The person is Risk

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(